html {
    height: 100%;
    margin: 0;
    box-sizing: border-box; /* Make sure padding and borders are included in element sizes */
}

*, *:before, *:after {
    box-sizing: inherit; /* Inherit box-sizing from html */
}

body {
    height: 100vh; /* Viewport height */
    margin: 0;
    overflow: hidden; /* Prevent scrolling on the body */
}


.editor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B222C;
    padding: 10px;
}

.center-title {
    text-align: center;
    flex-grow: 1;
}

.additional-info {
    font-size: 16px; /* Adjust size as necessary */
    color: white;
}

.word-count {
    margin-right: 5px; /* Adds spacing between the word count and the collaborator count */
}

.collaborators-count {
    cursor: pointer; /* Changes the cursor to a pointer to indicate this is clickable */
}

.left-buttons, .right-buttons {
    display: flex;
}

.editor-header button {
    background-color: #495365;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px; /* Space between buttons */
    color: white;
}

.editor-header .project-title {
    color: white;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.editor-container {
    display: flex;
    height: calc(100vh - 60px); /* Adjust based on header height, using viewport units */
    overflow: hidden; /* Prevent scrolling on the main container */
}

.latex-editor {
    flex: 0 0 60%; /* Assign 60% width */
    height: 100%;
    border-right: 2px solid #ccc; /* Separator */
    display: flex;
    flex-direction: column;
    background-color: #E4E5F1;
}

.pdf-viewer {
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

iframe.pdfDisplay {
    width: 100%; /* Ensure the iframe fills the PDF viewer area */
    height: 100%;
}

.latex-editor form, #latexCode {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#latexCode {
    flex-grow: 1; /* Ensure it takes up all available space */
    border: none;
    resize: none;
    color: black;
}

#pdfDisplay {
    height: 100%;
    width: 100%;
    border: none;
}

/* Remove the last margin-right for the last button in each group */
.left-buttons button:last-child, .right-buttons button:last-child {
    margin-right: 0;
}

/* Draggable separator - Requires additional JS for functionality */
.separator {
    cursor: col-resize;
    background-color: #ccc;
    width: 5px;
    height: 100%;
}

#blocklyDiv {
    height: 100%;
    width: 55%;
    overflow: hidden; /* Changed to hide overflow */
    background-color: #E4E5F1;
}

.toolbox {
    height: 100%;
    width: 20%; /* Adjust based on your design */
    float: left;
    overflow-y: auto; /* Enabled scrolling for the toolbox */
}

.remote-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('../images/cursor.png') no-repeat center; /* Adjusted path to your cursor icon */
    background-size: contain;
    pointer-events: none; /* Make sure the cursor doesn't interfere with other elements */
}

.remote-cursor-label {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 2px 5px;
    font-size: 12px;
    white-space: nowrap;
}

.remote-cursor, .remote-cursor-label {
    z-index: 10000; /* Adjust as needed to ensure visibility */
    position: absolute;
    /* other styles */
}


.chat-window {
    border-left: 2px solid #ddd;
    background-color: #2F3A4C;
}

.chat-header {
    padding: 10px;
    background: #007bff;
    color: white;
    text-align: right;
}

.chat-content {
    padding: 10px;
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.chat-input {
    position: absolute;
    bottom: 0;
    width: 350px;
    padding: 5px;
    background: white;
}

.chat-input input {
    width: 100%;
    padding: 5px;
    margin-right: 5px;
    word-wrap: break-word;
    word-break: break-all;
}


#imageGalleryModal .modal-content {
    height: auto; /* Auto height based on content */
    max-height: 80vh; /* 80% of the viewport height */
    overflow: hidden; /* Hide overflow */
    overflow-y: auto;
}

#imageGalleryModal .modal-body {
    padding: 15px; /* Reduced padding might help */
}

#imageGallery img {
    width: 100px;
    height: 100px;
    margin: 5px;
    object-fit: cover;
}

.image-item {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.image-close {
    position: absolute;
    top: 5px; 
    right: 5px;
    cursor: pointer;
    color: #ff0000;  
    background-color: rgba(255, 255, 255, 0.8);  
    border: none;
    border-radius: 50%;
    font-size: 16px; 
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);  
}

.img-thumbnail {
    border: none;
    border-radius: 4px;
}



#citationGalleryModal .modal-content {
    height: auto; /* Auto height based on content */
    max-height: 80vh; /* 80% of the viewport height */
    overflow: hidden; /* Hide overflow */
    overflow-y: auto;
}

#citationGalleryModal .modal-body {
    padding: 15px; /* Reduced padding might help */
}


.citation-entry {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.citation-entry:hover {
    background-color: #f0f0f0;
}

.delete-btn {
    padding: 0 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.citation-entry {
    padding: 10px;
    margin-top: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

#modal-footer, #citationFormContainer{
    display: flex;        /* Make the container a flex container */
    justify-content: center; /* Horizontally center the content (including buttons) */
    align-items: center;  /* Vertically center the content if needed */
}

.custom-toolbar .ql-custom {
    background: none;
    border: none;
    cursor: pointer;
}

.custom-toolbar .ql-custom .fa {
    font-size: 18px; /* Icon size */
    color: #333; /* Icon color */
}

