body {
    background-color: #1B222C;
    margin: 0;
    font-family: Arial, sans-serif;
}

.projects-container {
    width: 70%;
    height: 90vh;
    margin: 5vh auto;
    border-radius: 15px;
    background-color: #E0E0E0;
}

/* Add to your existing CSS */
.title-column {
    width: 40%;
}

.other-column {
    width: 20%;
}

.actions-column {
    text-align: right;
}


.simplex-logo {
    padding-top: 30px;
    display: block;
    margin: 0 auto 20px;
    width: 300px; /* Adjusted size */
}

.new-project-btn {
    display: block;
    width: 20%; /* Smaller width */
    height: 7.5%;
    padding: 10px;
    margin: 0 auto 20px; /* Center the button */
    background-color: #00A811;
    color: white;
    border: 2px solid white; /* White outline */
    border-radius: 10px; /* More rounded edges */
    cursor: pointer;
    font-size: 28px; /* Bigger text */
}

.new-project-btn:hover {
    background-color: #246B1E;
}


.new-project-btn:hover {
    background-color: #246B1E;
}

.projects-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white; /* Make all rows white */
    border-bottom: 3px solid #E0E0E0; /* Add a grey line as divider */
}

.projects-table th,
.projects-table td {
    border-bottom: 1px solid #E0E0E0; /* Gray line divider */
    text-align: left;
    padding: 8px;
}

.projects-table th {
    background-color: #f8f9fa;
}

.projects-table tr:nth-child(even) {
    background-color: white;
}

/* Center "All Projects" heading */
h2 {
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    background-color: #E0E0E0;
    margin: auto;
    padding: 20px;
    border: 8px solid #1B222C; /* Thick border with page background color */
    width: 35%;
    height: 75%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #1B222C;
    font-size: 24px;
    cursor: pointer;
}

.modal-logo {
    width: 200px; /* Small logo size */
    margin-bottom: 20px;
}

.modal-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.modal-label {
    margin-bottom: 10px; /* Increased spacing */
    font-size: 22px; /* Increased size */
    font-weight: bold; /* Bold font */
    display: block;
}

.modal-input, .browse-templates-btn, .create-project-btn {
    width: 50%;
    padding: 10px;
    margin: 5px 0; /* For spacing */
    border-radius: 5px;
}

.browse-templates-btn, .create-project-btn {
    background-color: #00A811;
    color: white;
    border: none;
    cursor: pointer;
}

.current-template {
    font-size: 14px; /* Smaller text for current template */
}

.create-project-btn {
    margin-top: 20px; /* Additional spacing before the submit button */
}

.actions-column {
    text-align: right;
    white-space: nowrap; /* Prevent wrapping of content */
}

/* General icon style adjustments */
.icon {
    position: relative; /* This is crucial for positioning the ::after content */
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth transition for color or other properties */
    background: transparent;
    border: none;
    margin-right: 10px; /* Right margin for spacing between icons */
}

/* Adjust hover text appearance for better positioning */
.icon:hover::after {
    content: attr(data-hover-text);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-200%); /* Move up relative to the icon */
    margin-bottom: 15px; /* Additional space between icon and text */
    white-space: nowrap;
    z-index: 1000; /* Ensure visibility over other elements */
    background: #333; /* Background color of the hover text */
    color: #fff; /* Text color */
    padding: 3px 6px; /* Padding around text */
    border-radius: 4px; /* Rounded corners for the hover text background */
    font-size: 12px; /* Font size of the hover text */
    display: block; /* Ensure display */
    visibility: visible; /* Ensure visibility on hover */
    opacity: 0; /* Start hidden for a fade-in effect */
    transition: opacity 0.3s ease; /* Transition for the fade-in effect */
}

/* Show hover text when icon is hovered */
.icon:hover::after {
    opacity: 1; /* Fade in the hover text */
}

/* Hover effect for icons */
.icon:hover {
    color: #1177ee; /* Example hover color for the icon */
}

/* Ensuring that the delete icon has a similar hover effect */
.delete-icon:hover {
    color: #ee1111; /* Different color for delete icon hover state */
}

/* Ensuring that the delete icon has a similar hover effect */
.leave-icon:hover {
    color: #ee1111; /* Different color for delete icon hover state */
}


/* Adjustments for buttons within modals to have a consistent look */
.delete-btn, .cancel-btn, .copy-btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
    display: inline-block; /* Align with other content */
}

.delete-btn, .cancel-btn .copy-btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.copy-btn {
    background-color: #4CAF50; /* Green */
    color: #fff;
}

.copy-btn:hover {
    background-color: #45a049; /* Darker shade of green on hover */
}

/* Continue using the existing styles for .cancel-btn as you have them */

.modal-action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Styles for the close button and modal-content as already defined */


.delete-btn {
    background-color: #ff4444; /* Original color */
    color: #fff;
}

.delete-btn:hover {
    background-color: #cc3333; /* Darker shade on hover */
}

.cancel-btn {
    background-color: #ccc; /* Original color */
    color: #333;
}

.cancel-btn:hover {
    background-color: #bbb; /* Slightly darker shade on hover */
}


/* Specific modal styles */
#createProjectModal .modal-content, #deleteConfirmationModal .modal-content {
    width: 30%; /* Adjust width for modals */
}

#createProjectModal h3, #deleteConfirmationModal h3 {
    margin: 20px 0;
}

/* Adjustments for delete confirmation modal specifically */
#deleteConfirmationModal .modal-content {
    height: auto; /* Auto height for delete modal */
}

#deleteConfirmationModal .delete-btn, #leaveConfirmationModal .cancel-btn {
    width: auto; /* Auto width for buttons in delete modal */
}

#leaveConfirmationModal .modal-content {
    height: auto; /* Auto height for delete modal */
}

#leaveConfirmationModal .delete-btn, #leaveConfirmationModal .cancel-btn {
    width: auto; /* Auto width for buttons in delete modal */
}

#copyProjectModal .modal-content {
    height: auto; /* Auto height for delete modal */
}

#copyProjectModal .delete-btn, #deleteConfirmationModal .cancel-btn {
    width: auto; /* Auto width for buttons in delete modal */
}

#createProjectModal.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

#createProjectModal .modal-content {
    background-color: #E0E0E0;
    padding: 20px; /* Adequate padding */
    border: 8px solid #1B222C;
    width: 30%; /* Consistent moderate width */
    height: auto; /* Height adjusts to content */
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#createProjectModal .form-group {
    width: 100%;
    margin-bottom: 25px; /* Increased margin for better spacing */
}

#createProjectModal .modal-input, #createProjectModal .browse-templates-btn {
    width: 50%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

#createProjectModal .browse-templates-btn {
    background-color: #007BFF; /* Distinct color for differentiation */
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    width: 52%; /* Matching width with inputs */
}

#createProjectModal .create-project-btn {
    background-color: #28a745; /* Highlight color for primary action */
    color: white;
    padding: 15px 30px; /* Larger button for emphasis */
    margin-top: 20px; /* Adequate space from last input */
    border-radius: 8px; /* Soft rounded corners */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60%; /* Slightly larger width to emphasize importance */
    font-size: 18px; /* Larger font size for visibility */
}

#createProjectModal .create-project-btn:hover {
    background-color: #218838; /* Slightly darker on hover for feedback */
}

#createProjectModal .current-template {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}


#templateSelectionModal.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Slightly higher z-index if you need to overlay over other modals */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
}

#templateSelectionModal .modal-content {
    position: relative;
    background-color: #E0E0E0;
    margin: auto;
    padding: 20px;
    border: 8px solid #1B222C; /* Thick border with page background color */
    width: 50%; /* Adjust width as necessary */
    height: 75%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

#templateSelectionModal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #1B222C;
    font-size: 24px;
    cursor: pointer;
}

#templateSelectionModal .template-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    margin-top: 20px;
    width: 100%; /* Ensures gallery uses all available space */
}

#templateSelectionModal .template-item {
    width: 30%;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    background: #FFFFFF;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Makes sure the text is always at the bottom */
    align-items: center; /* Center items horizontally */
}

#templateSelectionModal .template-item:hover {
    transform: translateY(-5px); /* subtle hover effect */
}

#templateSelectionModal .template-item img {
    width: 100%;
    height: auto; /* Adjust height automatically */
    object-fit: contain; /* Ensure the entire image is visible */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#templateSelectionModal .template-item p {
    padding: 15px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #333;
    width: 100%; /* Ensures text aligns with the image width */
}

.toggle-btn {
    padding: 10px 20px;
    border: none;
    background-color: #bbb;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    color: white;
}
.toggle-btn:hover {
    background-color: #aaa;
}
.toggle-btn.active {
    background-color: #4CAF50;
    color: white;
}

.toggle-btn.active:hover {
    background-color: #45a049;
}